@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
                                    /* Navbar Alignment  */
.navbar{
    height: 80px;
}
.navbar-nav{
    margin-left: 800px;
}
.nav-item{
    margin-right: 30px;
}
                                    /* Hero Section Style Start  */
.hero h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}
.hero p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
#hero-banner-button{
    background: #FFFFFF;
    padding: 10px 40px;
}
#hero-banner-button span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #3F87F5;
}
                                    /* Hero Section Style End  */
                                    /* Album Section Start  */
.album-section{
    position: relative;
}
.album-section h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;
}
.album-section p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
#album-button span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.btn.btn-primary > span{
    margin-right: 20px;
}
.toast{
    position: absolute;
    right: 0px;
    top: 150px;
    opacity: 1;
}
.toast-body{
    gap: 20px;
}