@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
                                    /* Navbar Alignment  */
.navbar{
    height: 80px;
}
.navbar-nav{
    margin-left: 100px;
}
.nav-item{
    margin-right: 30px;
}
                                    /* Hero Section Style Start  */
.hero h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}
.hero p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
#hero-banner-button{
    background: #FFFFFF;
    padding: 10px 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #3F87F5;
}
                                   /* Hero Section Style End  */
                                    /* Album Section Start  */
.album-section{
    position: relative;
}
.album-section h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;
}
.album-section p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
#album-button span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.btn.btn-primary > span{
    margin-right: 20px;
}
.toast{
    position: absolute;
    right: 0px;
    top: 150px;
    opacity: 1;
}
.toast-body{
    gap: 20px;
}
                                    /* Album Section End  */
                                    /* Package Section Start  */

.package-price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #231D4F;

}
.package-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #231D4F;
}
.package-para{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #848199;
}
.package-list{
    gap: 30px;
}
.package-inner-list{
    gap: 10px;
}
#package-list-button{
    border-radius: 30px;
    padding: 10px 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #3F87F5;
}
#package-list-button-Wplus{
    border-radius: 30px;
    padding: 10px 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #3F87F5;
    background: #FFFFFF;
}
.package-badge{
    margin-left: 250px;
}
/* Font Apply  */
.package-section h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    text-align: center;
    text-transform: capitalize;
    color: #0A0826;
    margin-bottom: 30px;
}
.package-inner-list p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #848199;
}
/* Wedding Plus Font Color Apply  */
.indiviual-package-wPlus .package-price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}
.indiviual-package-wPlus .package-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}
.indiviual-package-wPlus .package-para{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;

}
.indiviual-package-wPlus p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;

}
.indiviual-package-wPlus .fa-square-check{
    color: #FFFFFF;
}
.indiviual-package-wbasic button > p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #3F87F5;
}
.indiviual-package-wPlus button > p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #3F87F5;
}
                                        /* Feedback Section Start  */
.feedback-section h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    text-align: center;
    text-transform: capitalize;
    color: #0A0826;
    margin-bottom: 30px;
}
.client-review{
    display: flex;
    gap: 30px;
}
.person-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 20px;
}
.person-one-para > p{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #6C6C6C;
}
.client-name-occu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.client-name-occu-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #0C1920;
}
.client-name-occu-dig{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #747474;
}
                                        /* Feedback Section End  */
                                        /* FAQ Section Start  */
.faq-section h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    text-align: center;
    text-transform: capitalize;
    color: #0A0826;
    margin-bottom: 30px;
}
.faq-section h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #383838;
}
.faq-section p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #7E848C;
}
                                        /* FAQ Section End  */
                                        /* Footer Section Start  */
footer{
    width: 100%;
    height: 300px;
}
footer p{
    color: #D9DBE1;
}
.play-store-icon{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
                                        /* Footer Section End  */

